@{
    ViewData["Title"] = "History";
}

<div class="text-center">
     <h1>
         History of Leonardo da Vinci paintings
     </h1>
     
    <p>Leonardo da Vinci’s iconic Mona Lisa, the world’s most famous, recognizable, and copied artwork, has a storied history. Painted between 1503 and 1519, it was owned by French royalty for centuries. Liberated by Revolutionary forces, the painting briefly adorned Napoleon’s bedroom, then was installed in the Louvre. Over 80% of Louvre visitors come specifically to see Mona Lisa. Due to new queuing practices, visitors have only 30 seconds to admire the painting’s legendary mystique.</a>.</p>
    <img src="https://cdn.artandobject.com/sites/default/files/styles/gallery_item/public/monalisabyleonardodavinci-edited-2.jpg?itok=gUTMslqw" alt="Mona Lisa">
</div>